.about{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    cursor: pointer;
}
.pic{
    max-width:80%;
    border-radius: 50%;
}
.about-title{
    position:relative;
}
.about-title h1{
    padding:0px 30px ;
    font-size:clamp(2rem,5vw,3.5rem);;
    font-weight: 600;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about-section{
    display: flex;
    gap:80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size:19px;
   
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display:flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p {
    min-width: 150px;
    font-size: clamp(1.5rem,1.5vw,1.5rem);
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 106.28%);
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
@media (max-width: 768px) {
  .about {
    
    margin: 60px 10%;
    align-items: center;
  }

  .about-section {
    
    flex-direction: column;
    gap: 40px;
  }

  .about-right {
    text-align: center; 
    width: 100%;
  }

  .about-para {
  
    align-items: center; 
  }

  .about-skills {
   
    width: 100%;
    align-items: center;
    margin-left: 0;
  }

  .about-skill {
   
    width: 100%;
    gap: 20px; 
    justify-content: center;
  }

  .about-skill p {
    
    min-width: 100px; 
    text-align: left;
  }

  .about-skill hr {
     max-width: 150px;
  }
  
}