.contact{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 80px;
margin-top: 200px;
margin-bottom: 150px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 30px;
    font-size:clamp(2rem,5vw,3.5rem);
    font-weight: 600;
}
.contact-title img{
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section {
  
  color: #fff;
  padding: 50px 2%;
}
.contact-container {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.contact-info {
  flex: 1;
  
}
.lets-talk{
    font-size: 18px;
}

.accent-text {
   background: linear-gradient(270deg, #DF8908 10%, #B415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-details {
  margin: 30px 0;
}

.info-item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-form {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.form-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.input-group input, 
.input-group textarea {
  background: #1a1a1c;
  border: 1px solid #333;
  padding: 15px;
  color: white;
  border-radius: 8px;
  width: 100%; 
  border-radius: 15px;
}

.submit-btn {
  width: fit-content;
  padding: 12px 40px;
  border-radius: 15px;
  border: none;
  background: linear-gradient(to right, #9d3eb4, #e67e22);
  color: white;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-start;
  transition: 0.3s;
}
.submit-btn:hover{
    transform: scale(1.3);
}


@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }
  
  .form-row {
    flex-direction: column;
  }
  .contact{
    margin:20% 10%;
  }
  .contact-form{
    margin: 7% 14%;
  }
}
.social-icons {
    display: flex;
    gap: 20px; 
    margin-bottom: 30px; 
    margin-top: 15px; 
}

.social-link {
    color: white; 
    transition: 0.3s;
    cursor: pointer;
}

.social-link:hover {
    transform: scale(1.1); 
    color: #FF9F1C;
}